/* Pagina de contacto*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color: rgb(168, 118, 215);
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0;


}

p{
    margin-bottom: 1.6em;

}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #667eea; 
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{
    color: white;
    text-decoration: none;

}



.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block ;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;

}

.navigation ul li a:hover {
    background: #4a4a4a;
}

.logo{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main{
    padding-top: 15rem;
}



/* Footer */

.footer{
    background: #667eea;
    padding: 40px 40px;
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footers__icons{
    display: flex;
    justify-content: space-evenly;

}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;

}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;

}

.fa-brands.footer__icon{
    line-height: 60px;
}